<div id="header">
    <div>
      
      <div class="h_search_nav">
        <ul><a href="index.html" style="color: yellow;"><h3 style="font-weight: bold;">DIAMOND Refurbished<i style="padding-right: 20px;"></i></h3></a></ul>
        <input id="Myinput" type="search" placeholder="Search for Products, Brands and more" >
        <button type="submit" class="search_button">
          <i class="bi bi-search"></i>
        </button>
        <nav>
          <ul>
            <li><a class style="color: yellow" routerLink="/home">HOME</a></li>
            <li><a style="color: yellow;">PRODUCTS</a></li>
            <li><a style="color: yellow;">CART<i style="padding-right: 5px;"></i></a></li>
            <li><a style="color: yellow;"><h3><i class="bi bi-person"></i></h3></a></li>
          </ul>
        </nav>
      </div>
      
      <div class="banner">
        <img src="images\Designing\Banner1.jpg" alt="Offical banner and logo">
      </div>
  
      <div class="product_h">
        <p><h2 style="font-weight: bold;">Refurbished Products</h2>
      </div>
  
      <div class="hyp">
        <ul><a href="products.html" style="color: red;"><h3 style="font-weight: bold;">Shop Now</h3></a></ul>
      </div>
  
      <div class="product_h2">
        <p><h2 style="font-weight: bold;">Featured Products</h2>
      </div>
  
    </div>
  </div>  
  
  <div id="footer">
  
    <div class="f1">
    <div class="left">
        <h3 style="color: whitesmoke; font-weight: bold; padding-bottom: 15px;">About Us</h3>
        <ul><a href="about.html" style="color: whitesmoke;">Who We Are</a></ul>
        <ul><a href="about.html" style="color: whitesmoke;">Establishments</a></ul>
        <ul><a href="about.html" style="color: whitesmoke;">Assets and Revenue</a></ul>
        <ul><a href="t&c.html" style="color: whitesmoke;">Terms & Conditions</a></ul>
    </div>
  
    <div class="center">
        <h3 style="color: whitesmoke; font-weight: bold; padding-bottom: 15px;">Contact Us</h3>
        <ul><a href="call.html" style="color: whitesmoke;">Call</a></ul>
        <ul><a href="https://wa.me/917003113495" style="color: whitesmoke;">WhatsApp</a></ul>
        <ul><a href="https://mail.google.com/mail/?view=cm&source=mailto&to=diamond.refurbished@gmail.com" style="color: whitesmoke;">E-mail</a></ul>
        <ul><a href="call.html" style="color: whitesmoke;">Chat Bot</a></ul>
    </div>
  
    <div class="right">
      <h3 style="color: whitesmoke; font-weight: bold; padding-bottom: 15px;">Follow Us</h3>
      <ul><a href="https://www.facebook.com/drefurbished/" style="color: whitesmoke;">Facebook</a></ul>
      <ul><a href="https://www.instagram.com/drefurbished/" style="color: whitesmoke;">Instagram</a></ul>
      <ul><a href="https://twitter.com/drefurbished22" style="color: whitesmoke;">Twitter</a></ul>
      <ul><a href="https://www.youtube.com/channel/UCedisJksE7pxayj6oXEd4Jw" style="color: whitesmoke;">Youtube</a></ul>
    </div>
    </div>
  
    <div class="f2">
      <h5>Copyright © 2022 DIAMOND Refurbished - All Rights Reserved.</h5>
    </div>
  
